.contact-icon{
  display: inline-block;
  margin: auto 10px;
  color: rgb(255,154,0);
}

.contact-icon:hover{
  color: rgb(255,69,0);
}

.landing-photo{
  border-radius: 25px;
  filter: grayscale(42%);
}

.landing-photo-frame{
  background: orange;
}

.redirect-question:hover{
  color:  #FF4500;
  font-weight:bolder;
}
