.tech-icon{
  box-shadow:  0px 0px 10px 3px rgba(33, 33, 33, .2);
  border-radius: 2px

}
.skill-icon-frame-column{
  margin-bottom: 50px;

}
.tech-icon-name{
  text-transform: uppercase;
}
.skill-icon-frame-square{
  max-height: 100px;
  max-width: 100px;
  height: 100%;
}
