html{
  background: url('https://ak3.picdn.net/shutterstock/videos/26096963/thumb/1.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
}
body{
  background: transparent;
  font-family: 'Open Sans', sans-serif;
}
/*.container{
  margin-top: 1px;
  height: 100%;
}*/

/*to be used in across all compinents*/
h1{
  color: #FF4500;
  text-shadow:  0px 0px 1px  black;
  font-family: 'Fugaz One', sans-serif;;
}

.main-text-font{
  font-family: 'Open Sans', sans-serif;
}
.sub-header-font{
  font-family: 'Open Sans Condensed', sans-serif;
}

/*main menu*/
.main-menu-option{
  transition: .3s;
  text-transform: uppercase;
  font-family: 'Fugaz One', sans-serif;;
}
.selected-menu-option{
  font-size: 1.5em;
  transition: .3s;
  color: #FF4500;
}
.main-menu-option:hover{
  color: #FF4500;
  font-size: 1.5em;
  transition: .3s;
}
.menu-sidebar{
  background-color: #212121;
  color: white;
}
.menu-row{
  border-bottom: 1px solid white;
  line-height: 4em;
  cursor: pointer;
}
.menu-row:last-of-type{
  border: none
}
.main-menu-final-border-fix{
  border: none;
}

/*right content panel*/
.page-content{
  margin-top: 2%;
  background: rgba(255,255,255, 0.4);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px
}
