html{
  /*background: url('/subtle.jpg') center center no-repeat;*/

  background-size: cover;
  height: 100%;
  /*background*/
}
body{
  /*font-size: 1em !important;*/
  background: rgba(255,255,255,0.7);
}
/*body{
  background: rgba(30, 30, 30, .5 );
  height: 100%;
}*/

/*
.menu-option{
  margin: 0;
  padding: 0;
  line-height: 2.5em;
  text-transform: uppercase;;
}
.menu-option:hover{
  background: rgba(255, 0, 0, 0.5);
  transition: .5s;
  color: white;

}
.hamburger-icon{
  font-size: 5em
}*/
.main-menu-option{
  transition: .3s;
  text-transform: uppercase;
}
.main-menu-option:hover, .selected-menu-option{
  font-size: 2em;
  transition: .3s;
  color: #FF4500;
}

.menu-sidebar{
  background-color: #212121;
  color: white;
  height: 100%;
}



.container{
  margin-top: 1px;
  height: 100%;
}
